bundle
*.log
*.pyc
*.netrwhist
__pycache__
tags
tags.lock
tags.temp
cscope.out
cscope.in.out
cscope.po.out
cscope.files
.DS_Store
.idea
.svn
cmake-build-debug
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
*.slo
*.lo
*.o
*.obj
*.pro.user
*.so
*.a
*.dylib
*.dll
*.swp
*.lai
*.la
*.a
*.lib
*.out
*.app
*.xcuserdata
*.dat
.powerline-fonts
autoload
plugged
.gradle
.temp
