# log
*.log

# runtime files
.DS_Store
.netrwhist
__pycache__
tags
tags.lock
tags.temp

# plugins
plugged
node_modules/
package-lock.json
package.json

# user settings
user.vim
coc-settings.json
command/*.db
command/*.ignore

# neovim
init.vim
